<?xml version="1.0"?>
<connectionStrings>
  <add name="m2mconn"
    connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=T530_Hyper_V)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XE)));USER ID=tera;Password=tiger;"/>
  <add name="uctconn"
    connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=T530_Hyper_V)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XE)));USER ID=terames;Password=tiger;"/>
  <add name="mesconn"
    connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=T530_Hyper_V)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XE)));USER ID=terames;Password=tiger;"/>
  <!--<add name="dealconn"
    connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=T530_Hyper_V)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XE)));USER ID=tera;Password=tiger;"/>-->
</connectionStrings>
