<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="Version" value="2.01.01B"/>
  <add key="LINEFLG" value="WT$WT,FT$FT"/>
  <add key="INTERVAL" value="年$Y,月$M,週$W,日$D"/>
  <add key="FLOOR" value="A1,A2,B1,B2,B3,B4"/>
  <add key="INOROUTPRDCT" value="社内品$IN,社外品$OUT"/>
  <add key="EqpInspMeterCount" value="5"/>
  <add key="CompreRESULT" value="合格$0,調整合格$1,不合格$9,計画停止$7,故障$8"/>
  <add key="Status" value="処置発生,処置中,リリース待ち,リリース"/>
  <add key="PRIORITY" value="参考$1,普通$2,重要$3,最重要$4"/>
  <add key="MAJORCLASS" value="故障$01,点検$02,切替$03,借用$04,その他$99"/>
  <add key="GROUP" value="１班$1,２班$2,３班$3,４班$4"/>
  <add key="MINERCLASS" value="処置区分１$1,処置区分２$2,処置区分３$3"/>
  <add key="PROBABLECAUSE" value="推定原因１$1,推定原因２$2,推定原因３$3"/>
  <add key="TOOLKIND" value="プローブカード$C,クリーニングシート$B,テストボード$T,瞳モジュール$H"/>
  <add key="RETURNREASON" value="顧客返却$01,メーカー修理$02,廃棄$03,貸出$04"/>
  <add key="INSPECTIONFLG" value="要$1,不要$0"/>
  <add key="INITIALCONFIRMFLG" value="要$1,不要$0"/>
  <add key="-EqpInspListPageSize" value="4"/>
  <add key="-ToolMngListPageSize" value="6"/>
  <add key="-ToolInspListPageSize" value="4"/>
  <add key="-EqpDealListPageSize" value="4"/>
</appSettings>
